# Ignore everything
*

# Whitelist anything that's a directory
!*/

# ignore certain directory
workspace/
log/
.ipynb_checkpoints/

# Add all the file types I'm interested in.
!.gitignore
!*.py
!*.sh
!*.md
!*.sql
!*.qsub

# add all the filename I'm interested in.
!mylib/qsubgen
!mylib/qsubgen.template
!mylib/clearlogs
#!dataCollection/data/genome_meta.tsv

